
@{
    ViewData["Title"] = "CMS";
}
@{
    Layout = "~/Views/Shared/theme.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Project Add</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/theme/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/theme/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="/css/Style.css">
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
 

  <!-- Main Sidebar Container -->
 <h1 class="my-4 text-center">Click on one of the following</h1>
<div class="col-md-12 text-center my-4">
      <button type="submit" id="userRole" class="btn btn-success  mx-3">User Role </button>
  <button type="submit" id="permission" class="btn btn-success  mx-3">permission</button>
   <button type="submit" id="roleAssignment" class="btn btn-success  mx-3">Role Assignment</button>
</div>



<!-- jQuery -->
<script src="/theme/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/theme/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/theme/dist/js/demo.js"></script>
</body>
</html>



<script>
var srN = 0;
    
    $(document).ready(function(){

        $("#userRole").click(function() {
            window.location.href = "/RegisterFront/UserRole";
        })

        $("#permission").click(function() {
            window.location.href = "/RegisterFront/Permission";
        })
        $("#roleAssignment").click(function() {
            window.location.href = "/RegisterFront/RoleAssignment";
        })

       
        })
      





    var myToken  =  getCookie("MyToken");
//alert(myToken);
</script>